In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
salary_data = pd.read_csv('salary_data_states.csv')
salary_data

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.00,year,62171.00,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.00,year,91440.00,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.00,year,49470.00,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.00,month,43800.00,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.00,bi-weekly,170000.00,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167273,I-200-12241-209885,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167357
167274,I-200-11305-143547,denied,11/1/2011,11/3/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167358
167275,I-200-11313-833007,certified,11/9/2011,11/16/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,TEACHER,...,"Teachers and Instructors, All Other*",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167359
167276,I-200-11312-798611,denied,11/8/2011,11/15/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.10,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10608.0,teacher,167360
167277,I-200-11297-523711,denied,10/24/2011,10/26/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.05,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10504.0,teacher,167361

In [5]:
salary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167278 entries, 0 to 167277
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     167278 non-null  object
 1   CASE_STATUS                     167278 non-null  object
 2   CASE_RECEIVED_DATE              167278 non-null  object
 3   DECISION_DATE                   167278 non-null  object
 4   EMPLOYER_NAME                   167278 non-null  object
 5   PREVAILING_WAGE_SUBMITTED       167278 non-null  float64
 6   PREVAILING_WAGE_SUBMITTED_UNIT  167278 non-null  object
 7   PAID_WAGE_SUBMITTED             167278 non-null  float64
 8   PAID_WAGE_SUBMITTED_UNIT        167278 non-null  object
 9   JOB_TITLE                       167278 non-null  object
 10  WORK_CITY                       167275 non-null  object
 11  EDUCATION_LEVEL_REQUIRED        11093 non-null   object
 12  COLLEGE_MAJOR_REQUIRED          11051 non-null   object
 13  EXPERIENCE_REQUIRED_Y_N         11093 non-null   object
 14  EXPERIENCE_REQUIRED_NUM_MONTHS  4965 non-null    float64
 15  COUNTRY_OF_CITIZENSHIP          11093 non-null   object
 16  PREVAILING_WAGE_SOC_CODE        167278 non-null  object
 17  PREVAILING_WAGE_SOC_TITLE       167278 non-null  object
 18  WORK_STATE                      167278 non-null  object
 19  WORK_STATE_ABBREVIATION         167278 non-null  object
 20  WORK_POSTAL_CODE                53674 non-null   object
 21  FULL_TIME_POSITION_Y_N          156185 non-null  object
 22  VISA_CLASS                      167278 non-null  object
 23  PREVAILING_WAGE_PER_YEAR        167210 non-null  float64
 24  PAID_WAGE_PER_YEAR              167278 non-null  float64
 25  JOB_TITLE_SUBGROUP              167278 non-null  object
 26  order                           167278 non-null  int64
dtypes: float64(5), int64(1), object(21)
memory usage: 34.5+ MB

In [7]:
salary_data.describe()

,PREVAILING_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED,EXPERIENCE_REQUIRED_NUM_MONTHS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,order
count,1.672780e+05,1.672780e+05,4965.000000,167210.000000,1.672780e+05,167278.000000
mean,7.115752e+04,8.164186e+04,34.692044,74274.868236,8.553277e+04,83714.716305
std,3.874624e+04,4.147703e+04,22.317783,25356.245893,3.873847e+04,48300.236431
min,5.050000e+00,5.050000e+00,0.000000,10504.000000,1.050000e+04,1.000000
25%,5.447500e+04,6.100000e+04,12.000000,56880.000000,6.300000e+04,41901.250000
50%,6.970100e+04,7.700000e+04,24.000000,70928.000000,7.860000e+04,83722.500000
75%,8.993700e+04,1.000000e+05,60.000000,90459.000000,1.000060e+05,125541.750000
max,6.217100e+06,2.500000e+06,144.000000,320000.000000,2.500000e+06,167361.000000

In [30]:
salary_data['PREVAILING_WAGE_PER_YEAR'].describe()

count    167210.000000
mean      74274.868236
std       25356.245893
min       10504.000000
25%       56880.000000
50%       70928.000000
75%       90459.000000
max      320000.000000
Name: PREVAILING_WAGE_PER_YEAR, dtype: float64

In [31]:
salary_data['PAID_WAGE_PER_YEAR'].describe()

count    1.672780e+05
mean     8.553277e+04
std      3.873847e+04
min      1.050000e+04
25%      6.300000e+04
50%      7.860000e+04
75%      1.000060e+05
max      2.500000e+06
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [38]:
salary_data.isnull()

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167273,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
167274,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
167275,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
167276,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
167277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [40]:
salary_data['PREVAILING_WAGE_PER_YEAR'].min()

10504.0

In [50]:
salary_data[salary_data['EMPLOYER_NAME'] == 'SAN FRANCISCO STATE UNIVERSITY']

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.0,year,91440.0,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
138392,I-200-15070-455673,denied,3/11/2015,3/20/2015,SAN FRANCISCO STATE UNIVERSITY,50676.0,year,50676.0,year,ASSISTANT PROFESSOR OF FINANCE,...,"BUSINESS TEACHERS, POSTSECONDARY",California,CA,94132,y,H-1B,50676.0,50676.0,assistant professor,138476
138393,I-200-13126-710556,certified,5/13/2014,5/19/2014,SAN FRANCISCO STATE UNIVERSITY,50676.0,year,50676.0,year,ASSISTANT PROFESSOR,...,"Biological Science Teachers, Postsecondary",California,CA,NaN,y,H-1B,50676.0,50676.0,assistant professor,138477
138396,I-200-14059-827393,certified,3/3/2014,3/7/2014,SAN FRANCISCO STATE UNIVERSITY,50676.0,year,50676.0,year,ASSISTANT PROFESSOR IN MARKETING,...,"Business Teachers, Postsecondary",California,CA,NaN,y,H-1B,50676.0,50676.0,assistant professor,138480
138397,I-200-14091-552288,denied,4/2/2014,4/8/2014,SAN FRANCISCO STATE UNIVERSITY,50676.0,year,50676.0,year,ASSISTANT PROFESSOR IN MARKETING,...,"Business Teachers, Postsecondary",California,CA,NaN,y,H-1B,50676.0,50676.0,assistant professor,138481
138398,I-200-14100-082684,certified,4/10/2014,4/16/2014,SAN FRANCISCO STATE UNIVERSITY,50676.0,year,50676.0,year,ASSISTANT PROFESSOR IN MARKETING,...,"Business Teachers, Postsecondary",California,CA,NaN,y,H-1B,50676.0,50676.0,assistant professor,138482
138404,I-200-14129-614105,certified,5/19/2014,5/23/2014,SAN FRANCISCO STATE UNIVERSITY,50676.0,year,50676.0,year,ASSISTANT PROFESSOR IN ENGINEERING,...,"Engineering Teachers, Postsecondary",California,CA,NaN,y,H-1B,50676.0,50676.0,assistant professor,138488
138405,I-200-14133-571816,certified,5/13/2014,5/19/2014,SAN FRANCISCO STATE UNIVERSITY,50676.0,year,50676.0,year,ASSISTANT PROFESSOR IN MATHEMATICS,...,"Mathematical Science Teachers, Postsecondary",California,CA,NaN,y,H-1B,50676.0,50676.0,assistant professor,138489
140256,I-200-12306-433645,certified,11/1/2012,11/7/2012,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR,...,"Psychology Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140340
140258,I-200-13037-772099,certified,2/6/2013,2/12/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR,...,"Social Sciences Teachers, Postsecondary, All O...",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140342
140260,I-200-13092-597091,certified,4/2/2013,4/8/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR,...,"Business Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140344
140261,I-200-13101-002231,certified,4/11/2013,4/17/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR IN ECONOMICS,...,"Business Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140345
140262,I-200-12130-352839,certified,5/6/2013,5/10/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR,...,"Computer Science Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140346
140263,I-200-13140-309738,certified,5/20/2013,5/24/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR IN WOMEN AND GENDER STUDIES,...,"Postsecondary Teachers, All Other",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140347
140264,I-200-13141-633985,certified,5/21/2013,5/28/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR OF DECISION SCIENCES,...,"Business Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140348
140266,I-200-13182-623905,certified,7/1/2013,7/8/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,"ASSISTANT PROFESSOR IN EQUITY,LEADERSHIP AND I...",...,"Education Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140350
140268,I-200-13232-827553,certified,8/20/2013,8/26/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49716.0,year,ASSISTANT PROFESSOR OF COMPUTER ENGINEERING,...,"Engineering Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49716.0,assistant professor,140352
140269,I-200-13098-844110,denied,4/8/2013,4/10/2013,SAN FRANCISCO STATE UNIVERSITY,49716.0,year,49143.0,year,ASSISTANT PROFESSOR IN ECONOMICS,...,"Business Teachers, Postsecondary",California,CA,NaN,y,H-1B,49716.0,49143.0,assistant professor,140353
140284,I-200-11300-068105,certified,10/28/2011,11/3/2011,SAN FRANCISCO STATE UNIVERSITY,49692.0,year,49692.0,year,ASSISTANT PROFESSOR OF ENGINEERING,...,"Engineering Teachers, Postsecondary",California,CA,NaN,y,H-1B,49692.0,49692.0,assistant professor,140368
165290,I-200-13059-192723,certified,2/28/2013,3/6/2013,SAN FRANCISCO STATE UNIVERSITY,29544.0,year,29544.0,year,EARLY CHILDHOOD MASTER TEACHER,...,"Education Administrators, Preschool and Childcare",California,CA,NaN,y,H-1B,29544.0,29544.0,teacher,165374

In [54]:
salary_data['WORK_STATE'].value_counts() / salary_data['WORK_STATE'].count() * 100

California                  27.966618
Texas                        9.264817
New York                     6.798862
New Jersey                   6.096438
Illinois                     4.430349
Massachusetts                4.093784
Virginia                     3.605375
Georgia                      3.356688
Pennsylvania                 2.824639
Washington                   2.755891
Florida                      2.429489
Michigan                     2.297971
North Carolina               2.138954
Maryland                     1.957819
Ohio                         1.908201
Missouri                     1.657719
Arizona                      1.536365
Minnesota                    1.264960
Connecticut                  1.209364
Indiana                      0.966654
Colorado                     0.964861
Oregon                       0.917634
Wisconsin                    0.856658
District of Columbia         0.818996
Tennessee                    0.649816
Iowa                         0.604981
Louisiana                    0.527864
Delaware                     0.522484
South Carolina               0.508734
Utah                         0.452540
Kansas                       0.445964
Kentucky                     0.383194
Nebraska                     0.357489
New Mexico                   0.343739
Alabama                      0.334174
Arkansas                     0.333576
Oklahoma                     0.329392
Rhode Island                 0.315642
Nevada                       0.255264
New Hampshire                0.255264
Mississippi                  0.205048
West Virginia                0.183527
Maine                        0.129126
Idaho                        0.111192
Hawaii                       0.101627
North Dakota                 0.082497
Vermont                      0.078313
Puerto Rico                  0.065161
Virgin Islands               0.065161
South Dakota                 0.062770
Alaska                       0.039455
Montana                      0.037662
Guam                         0.036466
Northern Mariana Islands     0.034673
Wyoming                      0.026901
Palau                        0.000598
Guamam                       0.000598
Name: WORK_STATE, dtype: float64